@import '_zero';

.wrapper {
}
.main {
    margin: 0 auto;
    width: 1300px;
}
.page1 {
    margin-top: 20px;
		&__content {
            // width: 1300px;
            border: 1px solid #85D968;
            background-color: #85D968;
            border-radius: 20px;
		}

		&__fake {
            display: flex;
            flex-direction: column;
		}
        
        &__title {
            text-align: center;
            color: white;
            font-size: 30px;
            font-weight: 700;
            
            margin-top: 30px;
            margin-bottom: 15px;
		}

		&__blocks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px;
		}

		&__block {
            width: 260px;

		}

		&__image {
            border: 5px solid #FFDB59;
            border-radius: 30px;
            img{
                overflow: hidden;
                width: 100%;
            }
		}

		&__date {
            color: #A8F88C;

            margin-top: 20px;
		}

		&__event-name {
            color: #429A23;
            font-size: 25px;
            font-weight: 600;
            
            margin-top: 15px;
		}

		&__event-text {
            margin-top: 10px;
		}
}


.page2 {
    margin-top: 40px;
    // margin-bottom: 30px;
    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__block1 {
    //    width: 750px;
    }

    &__title {
        font-size: 30px;
        font-weight: 600;
        color: #FF6231;
        margin-bottom: 20px;
        
    }

    &__image {
        // border: 5px solid #FFDB59;
        // border-radius: 40%;
        width: 500px;

        img{
            overflow: hidden;
            width: 100%;

            border: 5px solid #FFDB59;
            border-radius: 46%;
        }
    }

    &__block2 {
        width: 600px;
    }

    &__text1 {
        margin: 20px 0;
    }

    &__text2 {
    }

    &__button {
        border-radius: 30px;
        border: 1px solid #FF6231;
        background-color:#FF6231 ;
        color: white;

        padding: 10px 15px;

        margin-top: 10px;
        
    }
}
