@import "_zero";
$main-color: #DF0001;

// !футер
.footer{
    width: 100%;
    height: 600px;
    background-color: black;
    position: relative;
    }
    .footer-page {
        position: absolute;
color: white;
left: 12%;
width: 76%;
height: 100%;
		&__name-politic {
            a{
                color: white;
            }
		}

		&__name-politic-brand {
		}

		&__name-politic-politic {
            margin-top: 50px;
            p{
            font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: rgba(255, 255, 255, 0.54);}

		}

		&__inf {
            position: absolute;
            // left: 700px;
            // float: right;
            right: 1%;
            margin-left: auto;
            margin-top: -130px;
            display: flex;
            flex-direction: row;
            justify-content: right;
            font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 25px;
		}

		&__inf-menu {
            display: inline-block;
            
          
            li{
                color: white;
                // margin: ;
            a{
                color: white;
            }
            }
            li:first-child{
                color: $main-color;
              
            }
		}

		&__inf-clubs {
            margin-left: 40px;
            // margin-right: 60px;
            display: inline-block;
            li:first-child{
                color: $main-color;
                line-height: 18px;
                margin-bottom: 10px;
            }
            li{
                a{
                    color: white;
                }
            }
		}

		&__middle {
            // top: 350px;
            // top: 0;
            bottom: 0;
            margin-bottom: 50px;
            // height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // display: inline-block;
            width: 100%;
            
		}

		&__middle-first {
            text-align: center;
           margin-bottom: 50px;
		}

		&__middle-first-pic {
            
        
		}

		&__middle-first-text {
            margin-top: 10px;
            font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;

color: rgba(255, 255, 255, 0.54);
		}

		&__middle-second {
            text-align: center;
		}

		&__middle-second-pic {
		}

		&__middle-second-text {
		}
}