@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------------*/
.footer {
  width: 100%;
  height: 600px;
  background-color: black;
  position: relative;
}

.footer-page {
  position: absolute;
  color: white;
  left: 12%;
  width: 76%;
  height: 100%;
}
.footer-page__name-politic a {
  color: white;
}
.footer-page__name-politic-politic {
  margin-top: 50px;
}
.footer-page__name-politic-politic p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.54);
}
.footer-page__inf {
  position: absolute;
  right: 1%;
  margin-left: auto;
  margin-top: -130px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
}
.footer-page__inf-menu {
  display: inline-block;
}
.footer-page__inf-menu li {
  color: white;
}
.footer-page__inf-menu li a {
  color: white;
}
.footer-page__inf-menu li:first-child {
  color: #DF0001;
}
.footer-page__inf-clubs {
  margin-left: 40px;
  display: inline-block;
}
.footer-page__inf-clubs li:first-child {
  color: #DF0001;
  line-height: 18px;
  margin-bottom: 10px;
}
.footer-page__inf-clubs li a {
  color: white;
}
.footer-page__middle {
  bottom: 0;
  margin-bottom: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.footer-page__middle-first {
  text-align: center;
  margin-bottom: 50px;
}
.footer-page__middle-first-text {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.54);
}
.footer-page__middle-second {
  text-align: center;
}